rules_version = '2';

// No direct client storage access yet. Deny by default.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
