<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2pacawU6n0dHU1ZNruNmQYRu6apMdNOE</string>
	<key>GCM_SENDER_ID</key>
	<string>918327750050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.langqi.MacAutopilot</string>
	<key>PROJECT_ID</key>
	<string>macautopilot</string>
	<key>STORAGE_BUCKET</key>
	<string>macautopilot.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918327750050:ios:768eca8afeb307870e96fb</string>
</dict>
</plist>